// colors

$black: #000000;
$white: #ffffff;
$base_color: #f2f2f2;
$border_color: #e9e9e9;
$grey_base: #969696;
$red: #eb0028;
$hero_color: #f4f4f4;
$hero_text: #747474;
$hero_text_two:  #262626;

// Font sizes
$size-10: 0.62rem;
$size-12: 0.75rem;
$size-14: 0.87rem;
$size-16: 1rem;
$size-18: 1.12rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-32: 2rem;
$size-34: 2.12rem;
$size-40: 2.5rem;
$size-46: 2.87rem;
$size-48: 3rem;

//page withs

$max-width-1600: 1600px;
$max-width-1300: 1300px;
$max-width-1200: 1200px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
$max-width-460: 460px;

// transitions
$transition: 0.3s;
